
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
    font-size: 1.6rem;
    line-height: 1.4;
}


.item-lista-cabecalho a {
    color: #112e61;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

.item-lista-cabecalho a:hover,
.item-lista-cabecalho a:active{
    color: #f60;
}

a:link,
a:visited {
color: blue;
}


ul {
    list-style:none;
}



.cabecalho {
    position:sticky;
    top: 0;
    left: 0;
    background-color: white;
    padding: 1.6rem 3.12rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

nav {
    display: none;

}

/*seção hero */

.secao {
    padding: 7.63rem 2rem;

}

.secao-hero {
    background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-01.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}
h1 {
    font-size: 3.32rem;
    color: #404040;
    font-weight: 600;
    line-height: 1;
}

h2{
    font-size: 2.76rem;
    font-weight: 400;
    line-height: 1.1;

}


strong {
    font-weight: 600;
}

.hero-paragraph {
    font-size: 1.92rem;
    line-height: 1.3;
}


.botao {
    color: orange;
    font-weight: 700;
    font-size: 2.4rem;
    text-decoration: none;
    border-radius: 3rem;
    background-image: linear-gradient(180deg, #ff645e, #ff9253);
    background-color: red;
    padding: 0.65rem 2.5rem;
    display: inline-block;
    color:white;
    box-shadow: 0 0.21rem 0.4rem rgba(0,0,0,0.1);
}


.hero-buttons {
    color: orange;
    font-weight: 700;
    font-size: 2.4rem;
    text-decoration: none;
    border-radius: 3rem;
    background-image: linear-gradient(180deg, #ff645e, #ff9253);
    background-color: red;
    padding: 0.65rem 2.5rem;
    display: inline-block;
    color:white;
    border-bottom: solid 0.4rem #993c38;
    border-right: solid 0.4rem #993c38;
}

.hero-buttons:hover {
    color: #ff9253;
    background-color:white;
    border-bottom: solid 0.4rem white;
    border-right: solid 0.4rem white;
    background-image: none;
    
}


.iframe-video {
    aspect-ratio: 16/9;
    width: 42rem;
    border-radius: 2.5rem;
}


/* CONTEÚDOS GRATUITOS */

.gratuito-h2,
.diferenciais-h2 {
    font-weight: 400;
    font-size: 3.5rem;
}

h2.gratuito-h2 span {
    color: #7a40be;
    font-weight: 600;
}

.gratuito-h3 {
    font-weight: 700;
    font-size: 2.3rem;
    line-height:1.2rem;
}

.gratuito-link-lista:link,
.gratuito-link-lista:visited {
    text-decoration: none;
    display: inline-block;
    padding: 0.42rem 3.12rem;
    background-color: #eee;;
    border-radius: 2.5rem;
    font-size: 1.92rem;
    box-shadow: inset 0 0.21rem 0.4rem rgba(0,0,0,0.1);
    color: inherit;
    line-height: 1.3rem;
}

.gratuito-link-lista:hover,
.gratuito-link-lista:active {
    text-decoration: underline;
}

.gratuito-link-lista img {
    width: 1.8rem;
}



.secao-conteudos {
    background-image: url(https://elegant-rabanadas-4b0397.netlify.app/Imagens/Formato%20Novo/BACKGROUN-banner-02.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-conteudos {
    width: 44rem;

}

.caixa-gratuito-h3 {
    background-image: linear-gradient(90deg, #aa56e6, #6d42d9);
    display: inline-block;
    padding: 0.42rem 1.6rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 0 0.21rem 0.4rem rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 50%;
    transform:  translate(-50%, -50%) rotate(-2deg); 
}

.caixa-frente-treinamentos {
    box-shadow: inset 0 0 0.8rem 0.5rem rgba(0,0,0,0.1);
    border-radius: 2.5rem;
    padding: 2rem;
    position: relative; 
    
}

.img-treinamento {
    display: inline-block;
    border-radius: 50%;
    background-color: #e7e7e7;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1.02rem;
    box-shadow: 0 0.6rem 0.4rem rgba(0,0,0,0.1);
}

.img-treinamento img {
     width: 100%;
}

/* seção diferenciais */


.secao-diferenciais {
    background-color: #f4f5f7;
}

.caixa-diferenciais-h2 {
border-left: solid 0.5rem #ffb20f;
padding: 0.52rem 0 0.52rem 2rem;
}


.container-diferenciais {
    border-radius: 5rem;
    background-color: white;
    box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
}

.caixa-titulo-diferenciais {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    background-image: linear-gradient(225deg, #196b94, #255255);
    padding: 4.88rem 3.12rem;
    color: white;
}

.caixa-diferenciais-restante {
    padding: 4.88rem;


}

.imagens-caixa-diferenciais {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffaf00;
    display:inline-block;
    padding: 2rem;
    border-radius: 1.5rem;
    width: 10rem;
    height: 10rem;
    box-shadow: inset 0 0.21rem 0.4rem rgba(0,0,0,0.1);
    
}
.imagens-caixa-diferenciais img{
    width: 100%;
    filter: grayscale(100%);
}



.caixa-items-diferenciais {
    position: relative;
    background-color: white;
    border-radius: 2.5rem;
    box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
    padding: 3.9rem 2.5rem;
}


.diferenciais-p {
    font-size: 1.92rem;
    line-height: 1.3rem;
}

.diferenciais-h3 {
    color: #005e88;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.2rem;
}

.diferenciais-h3-empresas{
    font-size: 3.5rem;
    font-weight: 400;
}

.diferenciais-h3-empresas a {
    color: #005e88;
    text-decoration: none;
    font-weight: 700;
}

.diferenciais-empresas img{
    width: 6.5rem;
    filter: grayscale(100%);
}
/* O QUE FALAM */

.oquefalam-h2 span{
    font-weight: 600;    
}

.blog-postadoem {
    font-size: 1.5rem;
}

.blog-postadoem a{
    text-decoration: none;
    color:#f7a70c;
    font-weight: 600;
}

.titulo-post {
    font-size: 2.4rem;
    text-decoration: none;
    font-weight: 600;
}

.blog-descricao-post{
    font-size: 1.7rem;

}

/* como ajudar */

.comoajudar-realce {
    font-weight: 600;
}

.como-ajudar-lista, 
.como-ajudar-paragrafo{
    font-size: 1.9rem;
}

.como-ajudar-lista a,
.como-ajudar-paragrafo a{
    color: #008ff7;
    font-weight: 600;
}

.como-ajudar-paragrafo b{
    font-weight: 600;
}

.minicurso-realce {
    font-weight: 600;
}

.rodape-titulo {
    font-weight: 600;
    font-size: 2.2rem;
}

.rodape-subtitulo{
    font-weight: 500;
    font-size: 1.8rem;
}

.rodape-titulo3{
    font-weight: 500;
    font-size: 1.8rem;
}

.rodape-link {
    color: #1a77a4;
}